.navbar .Navbgcolor{
  background-color: transparent !important;
}

.navbar-brand {
  font-family: "IM FELL Great Primer SC", "sans-serif";
  font-weight: 200px;
  font-size: 23.35px;
  line-height: 28.55px;
  letter-spacing: 0%;
  background-color: none;
}

ul > li{
 font-family: "Inter",'sans-serif';
 font-size: 0.9rem;
}
